/* Styles that we put on top of Bootstrap */
/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/

/* -----------------------------------------
   Shared Styles
----------------------------------------- */

body {
    overflow-y: scroll;
}

/* ---------------------------------------- */
/* Sticky footer */
html, body {
    height: 100%;

    /*The html and body elements cannot have any padding or margin.*/
}

 /*Wrapper for page content to push down footer*/
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;

    /* Negative indent footer by it's height */
    margin: 0 auto -80px;
}

 /*Set the fixed height of the footer here*/
#push, #footer {
    height: 80px;
}

 /*Lastly, apply responsive CSS fixes as necessary*/
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

 /*Remove top padding when top navbar goes static in narrow viewports*/
@media (max-width: 979px) {
    body {
        padding-top: 0;
    }
}

/* ---------------------------------------- */
/* general footer styling */
#footer {
    background-color: #e6e6e6;
}
#footer_row1 {
    padding-top: 5px;
}

#footer_links, #footer_logo {
    padding-top: 15px;
}

#footer_links {
    font-size: 0.8em;
}


/* ---------------------------------------- */
/* general top navabr styling */
#top_navbar {
   margin-top: 10px;
   font-size: 1em;
}

/* add background-color tracking for navbar items */
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    background-color: #dbdbdb;
    color: #333333;
    text-shadow: 1px 1px 0 #FFFFFF;
}

#navbar_logo {
    margin-top: .7em;
}

.socialbtns-cart {
    margin: 5px 0;
}

.breadcrumb {
    margin-bottom: 10px;
}

.pagination {
    margin: 5px 0;
}

/* -----------------------------------------
   index.php
----------------------------------------- */
/* add to Bootstrap's .carousel-caption style to support opacity in the slide caption in IE8 and under */
.carousel-caption {
    /* inherit the other properties */

    /* IE fun */
    background:none;
    /* for IE8 */
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#26333333,endColorstr=#26333333);
    /* for IE7 and below */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000,endColorstr=#BF000000);
    zoom: 1;

    /* IMPORTANT!!! */
    /* Make sure we put back the original call to rgba() AFTER our IE fix above */
    /* because part of the IE hack sets the background to none. */
    background: rgba(0, 0, 0, 0.75);
}


/* -----------------------------------------
   about.php
----------------------------------------- */
#ProfilePic {
    float: left;
    margin-right: 2em;
    margin-bottom: 1.3em;
}

/* -----------------------------------------
   guitars_details.php
----------------------------------------- */
.Product_Image_Container {
    float: left; 
}

.Product_Info_Container {
    float: left;
}

/* -----------------------------------------
   parts.php
----------------------------------------- */
.thumbnail {
    text-align: center;
}

/* -----------------------------------------
   videos.php
----------------------------------------- */
#VideosHeader {
    text-align: center;
    padding: 0.2em;
    border-bottom: 1px solid #aaaaaa;
}

#video .modal-body {
    max-height: 365px; /* set to height of video + 5 pixels so that vertical scrollbar does not appear in modal */
}

#video {
    width: 670px; /* set to width of video + 30 pixels so that horizontal scrollbar does not appear in modal */
    margin: -250px 0 0 -335px; /* center video in modal (original = margin: -250px 0 0 -280px;) -> set last number to width divided by 2 */
}

#video {
    margin: -20px 0 0 -335px; /* center modal in browser (original = margin: -300px 0 0 -280 px;) -> just play with the values to get desired position */
}


/* center the play video button */
.VideoContainer {
    position: relative;
}

.VideoContainer > img {
    display: block;
    margin: auto;
    z-index: 1;

}

.VideoContainer > .VideoPlayButton {
    position: absolute;
    top: 50%;
    margin-top: -45px; /* half of the play image size (70px in our case) */
    right: 50%;
    margin-right: -45px;
    z-index: 9;
}

.VideoContainer a {
    /* remove any anchor outline on the play button image */
    outline: none;
 }


/* -----------------------------------------
   videos.test.php
----------------------------------------- */
.modal-backdrop {background-color: black;}


/* -----------------------------------------
   checkout.php
----------------------------------------- */
form .help {
    font-style: italic;
    padding: 0 1em 1em 1em;
}

form legend .help {
    margin-left: 2em;
}

form legend .help em {
    color: red;
}

form label em {
    color: red;
}

.hiddenCaptcha {
    width: 1px;
    height: 1px;
    font-size: 1px;
    visibility: hidden;
}

/* The following styles are declared in the checkout.php file
    so that we can harness Laravel's URL builder class via php
    to build the path to the images */
/*input:focus:required:invalid {*/
    /*background-image: url(images/error.png);*/
    /*background-position: 98% center;*/
    /*background-repeat: no-repeat;*/
/*}*/

/*input:required:valid {*/
    /*background-image: url(images/accept.png);*/
    /*background-position: 98% center;*/
    /*background-repeat: no-repeat;*/
/*}*/

/*input[type="email"]:focus:required:invalid {*/
    /*background-image: url(images/email_error.png);*/
/*}*/


/** Modified Responsive Navbar CSS **/
/*@media (max-width: 1037px) {*/
    /*.btn-navbar {*/
        /*display: none;*/
    /*}*/
    /*.navbar .nav-collapse {*/
        /*clear: none;*/
    /*}*/

    /*.nav-collapse {*/
        /*height: auto;*/
        /*overflow: auto;*/
    /*}*/

    /*.navbar .nav {*/
        /*float: left;*/
        /*margin: 0 10px 0 0;*/
    /*}*/

    /*.navbar .brand {*/
        /*margin-left: -20px;*/
        /*padding: 8px 20px 12px;*/
    /*}*/

    /*.navbar .dropdown-menu:before, .navbar .dropdown-menu:after {*/
        /*display: block;*/
    /*}*/

    /*.navbar .nav > li > a, .navbar .dropdown-menu a {*/
        /*border-radius: 0;*/
        /*color: #999999;*/
        /*font-weight: normal;*/
        /*padding: 10px 10px 11px;*/
    /*}*/

    /*.navbar .nav > li {*/
        /*float: left;*/
    /*}*/

    /*.navbar .dropdown-menu {*/
        /*background-clip: padding-box;*/
        /*background-color: #FFFFFF;*/
        /*border-color: rgba(0, 0, 0, 0.2);*/
        /*border-radius: 0 0 5px 5px;*/
        /*border-style: solid;*/
        /*border-width: 1px;*/
        /*box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);*/
        /*display: none;*/
        /*float: left;*/
        /*left: 0;*/
        /*list-style: none outside none;*/
        /*margin: 0;*/
        /*min-width: 160px;*/
        /*padding: 4px 0;*/
        /*position: absolute;*/
        /*top: 100%;*/
        /*z-index: 1000;*/
    /*}*/

    /*.navbar-form, .navbar-search {*/
        /*border:none;*/
        /*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.1);*/
        /*float: left;*/
        /*margin-bottom: 0;*/
        /*margin-top:6px;*/
        /*padding: 9px 15px;*/
    /*}*/

    /*.navbar .nav.pull-right {*/
        /*float: right;*/
        /*margin-left: auto;*/
    /*}*/
/*}*/

/*@media (max-width: 979px) { *//*}550px) {*/
    /*.btn-navbar {*/
        /*display: block;*/
    /*}*/
    /*.navbar .nav-collapse {*/
        /*clear: left;*/
    /*}*/

    /*.nav-collapse {*/
        /*height: 0;*/
        /*overflow: hidden;*/
    /*}*/

    /*.navbar .nav {*/
        /*float: none;*/
        /*margin: 0 0 9px;*/
    /*}*/

    /*.navbar .brand {*/
        /*margin: 0 0 0 -5px;*/
        /*padding-left: 10px;*/
        /*padding-right: 10px;*/
    /*}*/

    /*.navbar .dropdown-menu:before, .navbar .dropdown-menu:after {*/
        /*display: none;*/
    /*}*/

    /*.navbar .nav > li > a, .navbar .dropdown-menu a {*/
        /*border-radius: 3px 3px 3px 3px;*/
        /*color: #999999;*/
        /*font-weight: bold;*/
        /*padding: 6px 15px;*/
    /*}*/

    /*.navbar .nav > li {*/
        /*float: none;*/
    /*}*/

    /*.navbar .dropdown-menu {*/
        /*background-color: transparent;*/
        /*border: medium none;*/
        /*border-radius: 0 0 0 0;*/
        /*box-shadow: none;*/
        /*display: block;*/
        /*float: none;*/
        /*left: auto;*/
        /*margin: 0 15px;*/
        /*max-width: none;*/
        /*padding: 0;*/
        /*position: static;*/
        /*top: auto;*/
    /*}*/

    /*.navbar-form, .navbar-search {*/
        /*border-bottom: 1px solid #222222;*/
        /*border-top: 1px solid #222222;*/
        /*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.1);*/
        /*float: none;*/
        /*margin: 9px 0;*/
        /*padding: 9px 15px;*/
    /*}*/

    /*.navbar .nav.pull-right {*/
        /*float: none;*/
        /*margin-left: 0;*/
    /*}*/

/*}*/